<h3>Install and import the library</h3>

In [2]:
!pip install snscrape

Collecting snscrape
  Using cached snscrape-0.4.3.20220106-py3-none-any.whl (59 kB)
Collecting requests[socks]
  Using cached requests-2.27.1-py2.py3-none-any.whl (63 kB)
Collecting lxml
  Using cached lxml-4.8.0-cp310-cp310-win_amd64.whl (3.6 MB)
Collecting beautifulsoup4
  Using cached beautifulsoup4-4.11.1-py3-none-any.whl (128 kB)
Collecting filelock
  Downloading filelock-3.6.0-py3-none-any.whl (10.0 kB)
Collecting soupsieve>1.2
  Using cached soupsieve-2.3.2.post1-py3-none-any.whl (37 kB)
Collecting certifi>=2017.4.17
  Using cached certifi-2021.10.8-py2.py3-none-any.whl (149 kB)
Collecting charset-normalizer~=2.0.0
  Using cached charset_normalizer-2.0.12-py3-none-any.whl (39 kB)
Collecting idna<4,>=2.5
  Using cached idna-3.3-py3-none-any.whl (61 kB)
Collecting urllib3<1.27,>=1.21.1
  Using cached urllib3-1.26.9-py2.py3-none-any.whl (138 kB)
Collecting PySocks!=1.5.7,>=1.5.6
  Using cached PySocks-1.7.1-py3-none-any.whl (16 kB)
Installing collected packages: certifi, urllib3, soupsieve, PySocks, lxml, idna, filelock, charset-normalizer, requests, beautifulsoup4, snscrape
Successfully installed PySocks-1.7.1 beautifulsoup4-4.11.1 certifi-2021.10.8 charset-normalizer-2.0.12 filelock-3.6.0 idna-3.3 lxml-4.8.0 requests-2.27.1 snscrape-0.4.3.20220106 soupsieve-2.3.2.post1 urllib3-1.26.9

WARNING: You are using pip version 22.0.3; however, version 22.0.4 is available.
You should consider upgrading via the 'C:\Users\Acer\Downloads\DIMAS TI\Dataset\dataset\Scripts\python.exe -m pip install --upgrade pip' command.

In [4]:
pip install pandas

Collecting pandas
  Downloading pandas-1.4.2-cp310-cp310-win_amd64.whl (10.6 MB)
     ---------------------------------------- 10.6/10.6 MB 1.0 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\acer\downloads\dimas ti\dataset\dataset\lib\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Downloading pytz-2022.1-py2.py3-none-any.whl (503 kB)
     ------------------------------------ 503.5/503.5 KB 830.4 kB/s eta 0:00:00
Collecting numpy>=1.21.0
  Using cached numpy-1.22.3-cp310-cp310-win_amd64.whl (14.7 MB)
Requirement already satisfied: six>=1.5 in c:\users\acer\downloads\dimas ti\dataset\dataset\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.22.3 pandas-1.4.2 pytz-2022.1
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 22.0.3; however, version 22.0.4 is available.
You should consider upgrading via the 'c:\Users\Acer\Downloads\DIMAS TI\Dataset\dataset\Scripts\python.exe -m pip install --upgrade pip' command.

In [5]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

In [6]:
import snscrape.version
print(snscrape.version.__version__)

0.4.3.20220106

<h3>Scrape</h3>

In [24]:
def scrape(query,limit):
    lis = []
    for tweet in sntwitter.TwitterSearchScraper(query).get_items():
        if len(lis) == limit:
            break
        else:
            lis.append([tweet.date, tweet.user.username, tweet.content])
    return lis

In [18]:
limit = 300

<h5>1</h5>

In [28]:
query_0 = "lonte"
tweets_0 = scrape(query_0,limit)
df_0 = pd.DataFrame(tweets_0, columns = ['date','username','content'])

In [29]:
df_0

,date,username,content
0,2022-05-06 15:26:41+00:00,riki29643676,@olinlovess heh lonte sialan cepet puasin kont...
1,2022-05-06 15:25:30+00:00,althafMu,@fahtirxx Ga malu apa lu jualan agama terus. E...
2,2022-05-06 15:24:20+00:00,mezntri,"@convomfs jelek jelek njir, ya tikus ya asu ya..."
3,2022-05-06 15:22:53+00:00,FakeMouse_,"saking sungkanan jd orang, sampe ga enak nge p..."
4,2022-05-06 15:21:57+00:00,riki29643676,"@dewilulu_4 ahh dasar lonte, sini tuan gb,anal..."
...,...,...,...
295,2022-05-06 05:39:29+00:00,ABCKOPI30,"Iya emang lu lonte kok, suka gk nyadar diri de..."
296,2022-05-06 05:32:25+00:00,clairshxclay,@SandyF248 @ariwill57 @salonpashottt_ @Askrlfe...
297,2022-05-06 05:29:43+00:00,aqforyouu,dasar lonte kamu ya\n\nmasyaallah wkwkw
298,2022-05-06 05:27:12+00:00,aqforyouu,aw takut bgt abis disebut lonte wkw
299,2022-05-06 05:26:42+00:00,Kalirejo7,@cinta_naura69 Ngomong tok gak gelem pamerake ...

In [71]:
df_0.iloc[105]['content']

'@micotean maybe i am gonna teach you some words. hahaha. okay once again,\n-Bad Words \n1. F*ck you = brengsek kau! / anjing kau!\n2. Son of b*tch (example towards women) = Lonte!\n\noh my God, i am so sorry.. hahaha'

In [58]:
df_0.to_csv('data_1.csv')

<h5>2</h5>

In [30]:
query_1 = "memek"
tweets_1 = scrape(query_1,limit)
df_1 = pd.DataFrame(tweets_1, columns = ['date','username','content'])

In [31]:
df_1

,date,username,content
0,2022-05-06 15:28:00+00:00,KarinBikin,ngewe sama sirambᴜt kᴜning\n\nAbg mesum \n\nCo...
1,2022-05-06 15:27:31+00:00,flavouzr,@thehyungg Aku masih memek kok kontol😭
2,2022-05-06 15:27:19+00:00,RambatSupratman,@fadillaayuk Tau memek kamu
3,2022-05-06 15:27:16+00:00,TonoHar68756154,@liliklove3 Pingin jilat memek ny
4,2022-05-06 15:25:42+00:00,Lketnan,@thehyungg siap memek
...,...,...,...
295,2022-05-06 10:47:38+00:00,miles01010101,@AREAJULID Kalo kata anak”DKV sih ‘ATM’(Amati ...
296,2022-05-06 10:47:07+00:00,DaniDon49893932,@Syifa_arcana69 memek nya aja tp sampai msuk l...
297,2022-05-06 10:46:26+00:00,lovingcrust,"@Om__chang_wok Aahhh baik tuan,,, Dea maju mun..."
298,2022-05-06 10:46:02+00:00,frixds,@tanyakanrl gabisa bedain memek apa pusar yaa
299,2022-05-06 10:43:21+00:00,sexcpucy,@seveeral 😣😣 jangan kasar memek aku jadi basah

In [59]:
df_1.to_csv('data_2.csv')

<h5>3</h5>

In [32]:
query_2 = "goblok"
tweets_2 = scrape(query_2,limit)
df_2 = pd.DataFrame(tweets_2, columns = ['date','username','content'])

In [33]:
df_2

,date,username,content
0,2022-05-06 15:29:07+00:00,platythi,GOBLOK AMAT :(((((( https://t.co/2U4Q17VOxb
1,2022-05-06 15:29:04+00:00,adityasaazhari,yang nyebut goblok tanda dia sendiri goblok ht...
2,2022-05-06 15:29:00+00:00,forbiddendis,@Askrlfess gak setuju. Orang dien tuh karena d...
3,2022-05-06 15:28:59+00:00,ryomenryuu,@pendragons00 @convomfs NGGAK GOBLOK
4,2022-05-06 15:28:57+00:00,seathernyous,"@tanyakanrl baper boleh, goblok jangan"
...,...,...,...
295,2022-05-06 14:39:57+00:00,NamasayaBEE,@MafiaWasit Yg goblok nya tim pelatih yg memas...
296,2022-05-06 14:39:34+00:00,raykairi,@rano_nopiyanto @RobyNugraha9393 @SiaranBolaLi...
297,2022-05-06 14:39:29+00:00,MeldiaWu,"cowok nanya ttg pydr, agak serem anjiir. \ndik..."
298,2022-05-06 14:39:01+00:00,hapcuhappycuan,@bacootism @lilaccountz Kalo cuma mau bilang “...
299,2022-05-06 14:38:55+00:00,feodalladoef,@stonestinggg @Aurasangjantan Itu penemuan tul...

In [60]:
df_2.to_csv('data_3.csv')

<h5>4</h5>

In [36]:
query_3 = "jelek"
tweets_3 = scrape(query_3,limit)
df_3 = pd.DataFrame(tweets_3, columns = ['date','username','content'])

In [37]:
df_3

,date,username,content
0,2022-05-06 15:30:52+00:00,dearonevoice,lu jelek https://t.co/0L5FDueJn3
1,2022-05-06 15:30:52+00:00,y_ookarina,@shimjzake Abian lebih jelek?
2,2022-05-06 15:30:51+00:00,cloudoyz,hhhh sinyal jelek
3,2022-05-06 15:30:46+00:00,tamtaaamm_,Hoki w bukan di slot deh kayanya tapi di karir...
4,2022-05-06 15:30:44+00:00,littlegenre,@luvintae_ ihh udh gw katain jelek tadi astagh...
...,...,...,...
295,2022-05-06 15:10:22+00:00,simjypsh,ig gue jelek bgt deh
296,2022-05-06 15:10:17+00:00,eoiyeeila,"Lagi pengen cowo jelek, ganteng dikit belagu s..."
297,2022-05-06 15:10:11+00:00,sugaryspeach,@yvanaselene Tadi pensil aku bertingkah ngesel...
298,2022-05-06 15:10:10+00:00,temsbem,"@kiwnci sabar ya kaa 😭😭, kayanya imagenya gemi..."
299,2022-05-06 15:10:04+00:00,soheecore,@diesiraens bener… ngeliat di kaca makeup kaya...

In [61]:
df_3.to_csv('data_4.csv')

<h5>5</h5>

In [40]:
query_4 = "item banget"
tweets_4 = scrape(query_4,limit)
df_4 = pd.DataFrame(tweets_4, columns = ['date','username','content'])

In [41]:
df_4

,date,username,content
0,2022-05-06 15:30:30+00:00,kiddoomu,@kingnyamjoon Aku pengen banget punya album in...
1,2022-05-06 15:27:29+00:00,kuaciyy,@raspbellyn wkwkwk ayang ih tp awal awal cat i...
2,2022-05-06 15:25:30+00:00,HanumSana,@DS_yantie Ini jidat item banget ya..
3,2022-05-06 15:19:06+00:00,nzzjm0,gua suka banget nih item putih 😇
4,2022-05-06 15:12:54+00:00,im_keiiii,TBL BANGET ASTAGHFIRULAHHH UDAH GANTI LAYOUT H...
...,...,...,...
295,2022-05-05 09:22:04+00:00,curio_cherry,Money can't buy taste 😭 \nIni ponakanku kok de...
296,2022-05-05 09:16:44+00:00,shxxxx_131,Hanbin pakek jas item cakep banget😭 https://t....
297,2022-05-05 09:14:06+00:00,__anaksoleh,@The_RedsIndo Tetep jersey item mah kudu
298,2022-05-05 09:07:06+00:00,jooheonsmooch,Kalo liat ulasan² di ecommerce inter tuh bagus...
299,2022-05-05 09:01:39+00:00,YOONASAHl,FUCKKKK LIZ RAMBUT ITEM CANTIK BANGET BAJENG

In [62]:
df_4.to_csv('data_5.csv')

<h5>6</h5>

In [42]:
query_5 = "Grepe"
tweets_5 = scrape(query_5,limit)
df_5 = pd.DataFrame(tweets_5, columns = ['date','username','content'])

In [43]:
df_5

,date,username,content
0,2022-05-06 15:14:38+00:00,kaiahelgaa,@archillect Pasti kalo grepe cewek nya kesetrum
1,2022-05-06 14:51:31+00:00,dactilyfera,"@goriorioboy Apaan, aku di grepe kok cute"
2,2022-05-06 14:46:41+00:00,avatyar,@skzwowwego Yaudah grepe aja
3,2022-05-06 14:42:18+00:00,dactilyfera,Another grepe 😌 https://t.co/2qxODIq1Nc
4,2022-05-06 14:37:13+00:00,lindowaja,@JJHGENK Ajam ngidam di grepe https://t.co/455...
...,...,...,...
295,2022-05-04 08:47:19+00:00,GreenGrepe,@kook91uyu730 6時間並べるのは\n本気のマジarmyだね💗🤣
296,2022-05-04 08:25:23+00:00,gevsplace,@RAKAJJH banyakan di grepe grepe
297,2022-05-04 08:24:12+00:00,GreenGrepe,@ayako_withb 美味しそう💗\nえー✨✨\nバンタンたくさんなの！？
298,2022-05-04 08:23:48+00:00,437id,"@defmaybe buah, buah apa yg cabul? betul buat ..."
299,2022-05-04 08:23:05+00:00,GreenGrepe,@kook91uyu730 うゆちゃん💜\n甥っ子ちゃん\n生粋のarmyっ子になりそうね😙...

In [63]:
df_5.to_csv('data_6.csv')

<h5>7</h5>

In [44]:
query_6 = "asu"
tweets_6 = scrape(query_6,limit)
df_6 = pd.DataFrame(tweets_6, columns = ['date','username','content'])

In [45]:
df_6

,date,username,content
0,2022-05-06 15:40:58+00:00,asu_2918,そしてこれよ！！\nめちゃくちゃ悩む🤔 https://t.co/qBZMXgCzUQ
1,2022-05-06 15:40:57+00:00,maeshi_gamegame,@asu_yunchan 8時には着くようにしたい頑張る
2,2022-05-06 15:40:55+00:00,purosekanumaa_,@asu_0603_F 眠たい中一緒にライブしてくれて…天使降臨!!!!!こちらこそこそ楽し...
3,2022-05-06 15:40:54+00:00,Asnro_dice,@utahiro_2 そうなのw
4,2022-05-06 15:40:51+00:00,Kgrassey,What people are saying about The Ave (Park7 Gr...
...,...,...,...
295,2022-05-06 15:17:11+00:00,stfukntl,@gadismungil__ Asu
296,2022-05-06 15:17:11+00:00,Renato48438476,@CocoCoc45504134 Asu mare q buem polvo
297,2022-05-06 15:17:08+00:00,punkelaran,perih tenan wetengku asu
298,2022-05-06 15:17:05+00:00,asu____kubo,@tomotha818 まじで病気になったのかレベルで止まらんやばい笑えない
299,2022-05-06 15:17:00+00:00,jigy_asu,@eksukoonn Yeh kismat wale game kabhi nhi chal...

In [64]:
df_6.to_csv('data_7.csv')

<h5>8</h5>

In [50]:
query_7 = "kontol"
limit_khusus = 150
tweet_71 = scrape(query_7,limit_khusus)
tweet_72 = scrape(query='kntl', limit=limit_khusus)
tweets_7 = tweet_71 + tweet_72
df_7 = pd.DataFrame(tweets_7, columns = ['date','username','content'])

In [51]:
df_7

,date,username,content
0,2022-05-06 15:46:18+00:00,FKAecha,kontol bnyk bgt spoiler dr strange di tl pepek...
1,2022-05-06 15:46:01+00:00,Zoni780620882,@kintil_ingip Nanti klo ditemenin jgn byk kent...
2,2022-05-06 15:46:00+00:00,shxshooting,@hongevnchae Telat kontol
3,2022-05-06 15:45:32+00:00,Birahi50126042,Kontol nganggur mulu nih
4,2022-05-06 15:45:32+00:00,hochiecoochie,ciri² manusia kontol adlah yg ngajak follow²an...
...,...,...,...
295,2022-05-06 14:59:02+00:00,Verbum_Ang,@SuryadiGatot @JenderalTaik @Celestialgalah1 @...
296,2022-05-06 14:58:54+00:00,iri_bilangboss,Hm nk awek sngp 1:(
297,2022-05-06 14:58:44+00:00,calvadozze,@sumberprotein @______drewbaby inilah contoh a...
298,2022-05-06 14:58:03+00:00,SuryadiGatot,@Verbum_Ang @JenderalTaik @Celestialgalah1 @Ju...
299,2022-05-06 14:57:43+00:00,AlOktarof,Kntl

In [65]:
df_7.to_csv('data_8.csv')

<h5>9</h5>

In [52]:
query_8 = "murahan"
tweets_8 = scrape(query_8,limit)
df_8 = pd.DataFrame(tweets_8, columns = ['date','username','content'])

In [53]:
df_8

,date,username,content
0,2022-05-06 15:46:17+00:00,eldion_alduin,Anti banget sama utang. Gpp skg masih ngekos m...
1,2022-05-06 15:45:24+00:00,kenching28,Ung murahan namen normal yun tangina kaaaaaaa ...
2,2022-05-06 15:45:10+00:00,Beautyinbroken2,@avegaille Guys tigilan na natin sya. Shes lea...
3,2022-05-06 15:39:48+00:00,erefaide,Murahan... 👎
4,2022-05-06 15:36:52+00:00,424jt,@kxwibisono ingfo pis r murah murahan
...,...,...,...
295,2022-05-06 02:32:09+00:00,i_amKarlLouie,@kriziamiras1 Totoo? Bakit di nalang sya nakip...
296,2022-05-06 02:31:30+00:00,rotemaske,@moviemenfes tipikal The Conjuring sih nder. y...
297,2022-05-06 02:30:33+00:00,KataBijakNews,"Gak tahu, ya, semoga ini cuma perasaanku atau ..."
298,2022-05-06 02:28:43+00:00,otongkoil,@ferdi_fdj henteu akumah sapopoena di tokotoko...
299,2022-05-06 02:28:16+00:00,rismanimi,"“mau senang, mau susah kalo karakternya memang..."

In [66]:
df_8.to_csv('data_9.csv')

<h5>10</h5>

In [54]:
query_9 = "gatel"
tweets_9 = scrape(query_9,limit)
df_9 = pd.DataFrame(tweets_9, columns = ['date','username','content'])

In [55]:
df_9

,date,username,content
0,2022-05-06 15:49:05+00:00,bibliophire,@Askrlfess CEOnya gatel-gatel kalo gaada membe...
1,2022-05-06 15:48:56+00:00,woofuby,gatel bgt
2,2022-05-06 15:48:34+00:00,mugiywara,"Tanganku gatel, semoga dapet duitnya banyak"
3,2022-05-06 15:48:24+00:00,theaprilair,@ohmybeautybank jujur agak kerasa licin krn da...
4,2022-05-06 15:48:22+00:00,rebecbeca,Makin kesini Makin gampang banget alergi😤😤😤 me...
...,...,...,...
295,2022-05-06 14:25:28+00:00,maylokitty,Bnyk nyamukkk gatel
296,2022-05-06 14:25:04+00:00,B3SEA,gw abis ngedit vid ... gatel bgt pgn gw post t...
297,2022-05-06 14:24:52+00:00,Otto_sniper,@rubenanguiano @InsNacOtrosDato Pero el corrup...
298,2022-05-06 14:24:47+00:00,mawar_be,@alter18base Apa gak gatel itu jembut?
299,2022-05-06 14:24:17+00:00,bintangadm,@frll_oxyz Suka tapi gak terlalu. Kalau lagi p...

In [67]:
df_9.to_csv('data_10.csv')

<h5>11</h5>

In [56]:
query_10 = "jembut"
tweets_10 = scrape(query_10,limit)
df_10 = pd.DataFrame(tweets_10, columns = ['date','username','content'])

In [57]:
df_10

,date,username,content
0,2022-05-06 15:49:58+00:00,strinxq,jarjit gak ngadu jembut sm ayah bunda ? 🥺☝🏻
1,2022-05-06 15:48:19+00:00,KARNOTO98418022,@DS_yantie Ya elah tuh jembut ya nempel di Jan...
2,2022-05-06 15:47:44+00:00,marimaskatesss,"Tan tin tan tin matamui, jembut. https://t.co/..."
3,2022-05-06 15:39:07+00:00,zzvxxz,@insongnia jembut
4,2022-05-06 15:38:19+00:00,insongnia,kenapa ayah gue kalo jembut pasti lamaa banget...
...,...,...,...
295,2022-05-05 22:29:29+00:00,heelzmi,@remukbosku @rubycrucio @ohmybeautybank Itu je...
296,2022-05-05 22:02:17+00:00,Faxfalay,@Askrlfess Whut? Jembut?
297,2022-05-05 21:59:13+00:00,jongseongjake,@Askrlfess iyiyiy bibirlu paling jembut
298,2022-05-05 21:58:00+00:00,Cmeansevrything,@Askrlfess [jembut] 😅
299,2022-05-05 21:57:13+00:00,Askrlfess,[askrl] bibir gue jembut bgt abis scrub

In [68]:
df_10.to_csv('data_11.csv')

<h3>Menggabungkan data </h3>

Setelah scrapping data dari twitter, dilakukan pelabelan secara manual terhadap data yang didapat. Dilakukan analisa berdasarkan definisi pelecehan seksual : <br>
    <p>Pelecehan gender: Pernyataan dan perilaku seks yang menghina atau merendahkan wanita. Contohnya termasuk komentar yang menghina, gambar atau tulisan yang merendahkan wanita, lelucon cabul atau humor tentang seks atau wanita pada umumnya.</p>
    <p>Perilaku menggoda: Perilaku seksual yang menyinggung, tidak pantas, dan tidak diinginkan. Contohnya termasuk mengulangi ajakan seksual yang tidak diinginkan, memaksa untuk makan malam, minum, atau kencan, mengirimkan surat dan panggilan telepon yang tak henti-henti meski sudah ditolak, serta ajakan lainnya.
    </p>
    <p>Penyuapan seksual: Permintaan aktivitas seksual atau perilaku terkait seks lainnya dengan janji imbalan. Rencana mungkin dilakukan secara terang-terangan atau secara halus.
    </p>
    <p>Pemaksaan seksual: Pemaksaan aktivitas seksual atau perilaku terkait seks lainnya dengan ancaman hukuman. Contohnya seperti evaluasi kerja yang negatif, pencabutan promosi kerja, dan ancaman pembunuhan.
    </p>
    <p>Pelanggaran seksual: Pelanggaran seksual berat (seperti menyentuh, merasakan, atau meraih secara paksa) atau penyerangan seksual.</p> 

    sumber : https://lassaadvocate.com/pelecehan-seksual-di-media-sosial/

In [1]:
import pandas as pd

In [3]:
pip install openpyxl

Collecting openpyxlNote: you may need to restart the kernel to use updated packages.

  Downloading openpyxl-3.0.9-py2.py3-none-any.whl (242 kB)
     ------------------------------------ 242.2/242.2 KB 569.8 kB/s eta 0:00:00
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.9

WARNING: You are using pip version 22.0.3; however, version 22.0.4 is available.
You should consider upgrading via the 'c:\Users\Acer\Downloads\DIMAS TI\Dataset\dataset\Scripts\python.exe -m pip install --upgrade pip' command.

In [6]:
pip install pathlib

Collecting pathlibNote: you may need to restart the kernel to use updated packages.

  Downloading pathlib-1.0.1-py3-none-any.whl (14 kB)
Installing collected packages: pathlib
Successfully installed pathlib-1.0.1

WARNING: You are using pip version 22.0.3; however, version 22.0.4 is available.
You should consider upgrading via the 'c:\Users\Acer\Downloads\DIMAS TI\Dataset\dataset\Scripts\python.exe -m pip install --upgrade pip' command.

In [1]:
from pathlib import Path
import pandas as pd

#one liner
your_path = 'data with label'
data = pd.concat([pd.read_excel(f, engine='openpyxl') for f in Path(your_path).rglob('*.xlsx')])

In [2]:
data

,Unnamed: 0,date,username,content,label
0,0,2022-05-06 15:26:41+00:00,riki29643676,@olinlovess heh lonte sialan cepet puasin kont...,1.0
1,1,2022-05-06 15:25:30+00:00,althafMu,@fahtirxx Ga malu apa lu jualan agama terus. E...,1.0
2,2,2022-05-06 15:24:20+00:00,mezntri,"@convomfs jelek jelek njir, ya tikus ya asu ya...",0.0
3,3,2022-05-06 15:22:53+00:00,FakeMouse_,"saking sungkanan jd orang, sampe ga enak nge p...",0.0
4,4,2022-05-06 15:21:57+00:00,riki29643676,"@dewilulu_4 ahh dasar lonte, sini tuan gb,anal...",1.0
...,...,...,...,...,...
258,294,2022-05-06 02:34:26+00:00,jenrenciuman,iyasih si micah easy goingnya kelewatan 30km t...,0.0
259,296,2022-05-06 02:31:30+00:00,rotemaske,@moviemenfes tipikal The Conjuring sih nder. y...,0.0
260,297,2022-05-06 02:30:33+00:00,KataBijakNews,"Gak tahu, ya, semoga ini cuma perasaanku atau ...",1.0
261,298,2022-05-06 02:28:43+00:00,otongkoil,@ferdi_fdj henteu akumah sapopoena di tokotoko...,0.0
262,299,2022-05-06 02:28:16+00:00,rismanimi,"â€œmau senang, mau susah kalo karakternya mema...",0.0

In [3]:
df_shuffled=data.sample(frac=1).reset_index(drop=True)
df_shuffled

,Unnamed: 0,date,username,content,label
0,47,2022-05-06 15:36:08+00:00,LordGerry_,@alter18base Bersihin kek kramiknya ajg malah ...,0.0
1,135,2022-05-06 11:12:34+00:00,hi__ayu,@FOODFESS2 la lonte,0.0
2,274,2022-05-06 14:44:18+00:00,pepy_jinyoung,Goblok https://t.co/E7BQCjqBRJ,0.0
3,32,2022-05-06 12:49:10+00:00,JoJokolate,@tarochocochips @Unchonz Grepe grepe club,0.0
4,5,2022-05-06 15:30:06+00:00,LanangJagad31,@Cintada16 Wan jembut cuma gunting pita...,0.0
...,...,...,...,...,...
2985,51,2022-05-06 13:37:54+00:00,JembutLurus_,temen2 udah pada nikah ya Allah. karir ku masi...,0.0
2986,203,2022-05-06 15:26:37+00:00,YogaAdrianyoga6,@iamJackthe @SuryadiGatot @Verbum_Ang @__anoma...,0.0
2987,27,2022-05-06 14:48:54+00:00,Haryant47740058,Muncul Petisi Sejumlah Tokoh Penting Tolak IKN...,0.0
2988,178,2022-05-06 06:45:04+00:00,papasaurusx,Pasal penistaan agama itu pasal jembut !! Pasa...,1.0
2989,71,2022-05-06 13:07:41+00:00,rikopramandito,punya banyak mantan?situ laku apa murahan?:-):...,1.0

In [4]:
df_shuffled.to_csv('dataset.csv')

<h5>Deskripsi data :</h5>
<p>Data ini diambil dari twitter menggunakan kata kunci tertentu<br>
Terdiri dari empat kolom :
    <li>date = tanggal tweet tersebut dikirim</li>
    <li>username = akun yang mengirim tweet </li>
    <li>content = isi twitter</li>
    <li>label = penanda apakah twitter termasuk ke dalam pelecehan seksual atau bukan</li></p>
Kolom label terdiri atas :
    <li>1 = pelecehan seksual</li>
    <li>0 = bukan pelecehan seksual</li>

<h3>Preprocessing Data</h3>